@tailwind base;

@layer base {
  body,
  html {
    width: 100%;
    height: 100%;
  }

  #__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
  }
}

@tailwind components;
@tailwind utilities;
